<div style="float: left">
  <h6>Date from string</h6>
  {{date-picker date=date valueFormat='YYYY-MM-DD' numberOfMonths=3}}
</div>
<div style="float: right">
  <dl>
    <dt>Formatted date</dt><dd>{{formattedDate}}</dd>
    <dt>Timestamp</dt><dd>{{timestamp}}</dd>
  </dl>
</div>

<div style="clear: both"></div>
<hr/>

<div style="float: left">
  <h6>Date from javascript date (Week starting monday)</h6>
  {{date-picker date=jsDate valueFormat='date' firstDay=1
                format="dd Do MMM 'YY'" yearRange="2013,2015"}}
</div>
<div style="float: right">
  <dl>
    <dt>UTC String</dt><dd>{{jsUTCString}}</dd>
  </dl>
</div>

<div style="clear: both"></div>
<hr/>

<div>
    <h6>Visibility toggling</h6>
    <button {{action 'toggleVisibility'}}>Toggle visibility</button>
    {{date-picker visible=visible}}<br/>
    Current visibility is set to "{{visible}}"
</div>
